* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 10px;
}

.home-container {
  background-image: url('assets/ferry2.jpeg');
  /* object-fit: cover; */
  /* object-fit: none; */
  /* object-fit: scale-down; */
  /* object-fit: fill; */
  object-fit: contain;

  min-height: 90vh;
}

.one {
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: relative;
  width: 100%;
}
